DB_HOST=lastsave-db
DB_PORT=5432
DB_NAME=lastsave
DB_USER=lastsave
DB_PASSWORD=

GITHUB_TOKEN=
GITHUB_TEMPLATE_REPO=
GITHUB_ORG=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=

APP_BASE_URL=https://zorlabs.ru
